*.iml
.gradle
.idea
.kotlin
build
local.properties

### Xcode ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata/
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
*.xcscheme
*.xcworkspace
xcuserdata/

# CocoaPods
Pods/

## iOS App packaging
*.ipa
*.dSYM.zip
*.dSYM